body {
    background-color: lightgrey;
    margin: 0px;
    padding: 0px;
}

.product {
    height: 450px;
    margin: 10px;
    padding: 20px;
    display: flex;
}

.card {
    height: 400px;
    padding: 10px;
    margin: 10px;
}

.title {
    font-weight: bold;
    font-size: 24px;
}

.company {
    font-size: 14px;
    color: gray;
}

.price {
    font-size: 18px;
}

#cart {
    height: 600px;
    margin: 20px;
    padding: 10px;
    background-color: grey;
}

#cart h3 {
    font-weight: bold;
}

#dragdrop {
    background-color: black;
    height: 500px;
    margin: 20px;
    padding: 10px;
}

#init {
    font-size: 20px;
    font-weight: bold;
    color: white;
}